.top{
    margin-left: 10px;
}
.foods{
    margin-top: 70px;
}
.single{
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    
}
.check{
    display: flex;justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.checkout{
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}
Link{
    text-decoration: none;
    color: white;
}